#cv
{
	
	width: auto;
	display: flex;
	flex-direction: column-reverse;
	font-size: 1.5em;
}

table
{
	text-align: justify;
	width: 100%;
	margin: auto;
}


aside
{
		width: 100%;
		margin: auto
}


#text

{
	display: flex;
	flex-direction: row;
	height: auto;
	text-align: justify;
}