/* font */


@font-face {
    font-family: 'Helvetica';
    src: url(..\font\Helvetica\_H_HelveticaNeueInterface_0.ttf);
}

html {
    height: 100%;
}


body {
    margin: 0;
    font-family: 'Helvetica';
}

a{
    color: black;
    text-decoration: none;
}

h2 {
    text-align: center;
}

/* les trait de séparation */

.trait{
    display: flex;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}