
/*########################
        Header
########################*/

header{
    background-color: rgba(104, 84, 84, 0.493);
    display: flex;
    justify-content: center;
}

.ImageHeader {
    max-height: 200px;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav a{
    margin-top: 10px;
}

.header{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* fixation du header JS */

#scroll-nav{
    background-color: rgba(54, 50, 50, 0.363);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 10px 0;
}

#scroll-header{
    display: block;
}

#navButton {
    display: none;
}

/*########################
        main
########################*/

/* description CV */


.descrition div {
    display: flex;
    align-items: center;
    margin: 20px;
}

.cv {
    flex-direction: column;
}
.cv img{
    width: 500px;
    margin-bottom: 10px;
}

.language{
    min-width: 25%;
}

/* lien vers mes sites */

.creation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 1er site le local */

.site {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 70%;
    margin-bottom: 5%;
}

.site a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    font-weight: bolder;
    font-size: 2em;
}

.site a:hover { /* filtre noire, text blanc */
    background-color: rgba(0, 0, 0, 0.466);
    color: rgb(255, 255, 255);
}

.site a:hover, .site a { /* transition */
    transition: all;
    transition-duration: 0.5s;
}

.site div {
    text-align: center;
}

.LeLocal {
    background-image: url(../image/LeLocal.JPG);
}

.TrainingStudio {
    background-image: url(../image/TrainingStudio.PNG);
}

.oldCv{
    background-image: url(../image/Cv.PNG);
}


/*########################
        footer
########################*/

footer {
    background-color: rgb(53, 48, 45);
    color: white;
    display: flex;
    justify-content: center;
}

footer div{    
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}


footer a{
    color: white;
}